* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(142, 142, 214);
}
a:hover,
a:focus {
  text-decoration: underline;
}

/* LAYOUT CSS */
#layout {
  padding-left: 25%; /* "left col (nav + list)" width */
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 25%;
  margin-left: -25%;
  background: rgb(24, 33, 61);
  color: #fff;
}

.header {
  margin: 50% 2em 0;
  text-align: right;
}

.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  text-transform: uppercase;
}
.brand-tagline {
  font-weight: 300;
  color: rgb(142, 142, 214);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  zoom: 1;
}
.nav-item a {
  background: transparent;
  border: 3px solid rgb(103, 103, 180);
  color: #fff;
  margin-top: 1em;
}
.nav-item a:hover,
.nav-item a:focus {
  border: 3px solid rgb(142, 142, 214);
  color: rgb(142, 142, 214);
  text-decoration: none;
}

.call-to-action {
  margin-top: 30px;
  color: #777;
}
.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 1em 3em 0;
}

.alert-info {
  background-color: #8E8ED6;
  border: solid 1px rgb(24, 33, 61);
  color: rgb(24, 33, 61);
  padding: 8px;
  margin: 20px 10px;
}

.conference {
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
  margin: 15px 0;
}
.conference:last-child {
  border-bottom: none;
}
.conference-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}

.conference-logo {
  height: 150px;
  width: 150px;

  border-radius: 80px;
  border-style: solid;
  border-width: thin;
  border-color: #ddd;

  display: inline-block;
  float: left;
  margin-right: 1em;
}
.conference-logo img {
  border-radius: 80px;
}
.conference-description {
  font-family: Georgia, "Cambria", serif;
  color: #444;
  line-height: 1.8em;
  margin-top: -1em;
  display: inline-block;
}
.conference-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.conference-tag {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
  border-radius: 7px;
  background: #18213D;
}

.conference-data {
  color: #999;
  font-size: 0.8em;
}

.conference-data span {
  white-space: nowrap;
}

.conference-images {
  margin: 1em 0;
}
.conference-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.conferences-grid .conference {
  border-bottom: none;
}
.conferences-grid .conference-logo {
  width: 100px;
  height: 100px;
}
.conferences-grid .conference-title {
  font-size: 1em;
}

.speakers-grid .speaker {
  position: relative;
  margin-bottom: 1.5em;
}
.speaker-avathar {
  width: 80px;
  height: 80px;
  text-align: center;
  display: inline-block;
}
.speaker-avathar img {
  border-radius: 80px;
}
.speaker-hero {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.speaker-hero .info {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0;
  position: absolute;
}
.speaker-header a,
.talk-header a,
.conference-title a {
  color: #222;
}
.speakers-grid header {
  margin-left: 8px;
  position: absolute;
  top: 1em;
  display: inline-block;
}
.speakers-grid .speaker-name {
  font-size: 1em;
}

.talk-video {
  padding: 5px;
}
.talk-header {
  position: relative;
  margin-top: 15px;
}
.talk-header .title {
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
}
.talk-header.jumbo h1 {
  font-size: 1.5em;
}
.talk .video {
  margin-top: 20px;
}
.talk .speaker-avathar {
  float: left;
}
.talk .info {
  display: inline-block;
  margin-left: 0.5em;
}
.talk .info .speaker-name {
  margin-bottom: 0.1em;
  margin-top: 0.5em;
}

.talk .info .title {
  margin-top: 0;
}

.data {
  text-align: center;
  padding: 1em 0;
}

.footer {
  border-top: 1px solid #ddd;
  height: 40px;
  margin-top: 40px;
}
.footer a {
  color: #777;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    position: relative;
    margin: 0;
  }

  .header {
    text-align: center;
    top: auto;
    margin: 3em auto;
    position: static;
  }

  #layout {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 2em 1em 0;
  }
}
