.talks
  %h1.content-subhead All talks
  %section.talks-grid.pure-g-r
    - talks.each do |talk|
      %article.talk.pure-u-1-2
        .talk-video
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "282", :mozallowfullscreen => "", :src => video_iframe(talk.video_url), :webkitallowfullscreen => "", :width => "100%"}
        %header.talk-header
          .speaker-avathar
            %img{:title => talk.speaker.name, :alt => talk.speaker.name, :src => talk.speaker.image_url}/
          .info
            %p.speaker-name #{talk.speaker.name}
            %h1.title #{talk.title}