.talk
  .video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "500", :mozallowfullscreen => "", :src => video_iframe(talk.video_url), :webkitallowfullscreen => "", :width => "100%"}
  %header.speaker-mini
    .avathar.small
      %img{:title => talk.speaker.name, :alt => talk.speaker.name, :src => speaker_image_url(talk.speaker.twitter)}/
    .info
      %p.name 
        %a{:href => "/speakers/#{talk.speaker.twitter}"}
          #{talk.speaker.name}
      %h1.title
        #{talk.title}
    .social
      %a.twitter-share-button{"data-dnt" => "true", "data-hashtags" => "confy", "data-lang" => "en", "data-via" => "wecodeio", :href => "https://twitter.com/share"} Tweet
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');