.conferences
  %h1.content-subhead All conferences
  %section.conferences-grid.pure-g-r
    - conferences.each do |conference|
      %article.conference.pure-u-1-4
        .conference-logo
          %img{:title => conference.title, :alt => conference.title, :src => conference.image_url}/
        %header.conference-header
          %h2.conference-title #{conference.title}
