.speakers
  %h1.content-subhead All speakers
  %section.pure-g-r
    - speakers.each do |speaker|
      %article.speaker.pure-u-1-4
        %a{:href => "/speakers/#{speaker.twitter}"}
          .avathar.small
            %img{:title => speaker.name, :alt => speaker.name, :src => speaker.image_url}/
        %header
          %a{:href => "/speakers/#{speaker.twitter}"}
            %h2.name #{speaker.name}