.speakers
  %h1.content-subhead All speakers
  %section.speakers-grid.pure-g-r
    - speakers.each do |speaker|
      %article.speaker.pure-u-1-4
        %a{:href => "/speakers/#{speaker.twitter}"}
          .speaker-avathar
            %img{:title => speaker.name, :alt => speaker.name, :src => speaker.image_url}/
        %header.speaker-header
          %a{:href => "/speakers/#{speaker.twitter}"}
            %h2.speaker-name #{speaker.name}